# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-specific files
*.log
*.pot
*.pyc
media/
staticfiles/
local_settings.py
*.pyo

# Secret keys
*.secret

# IDE / text editor specific files
.idea/
.vscode/
*.swp
*~

node_modules
venv
.env