asgiref==3.8.1
Django==5.0.6
django-appconf==1.0.6
django-compressor==4.4
django-extensions==3.2.3
honcho==1.1.0
MarkupSafe==2.1.5
python-dotenv==1.0.1
rcssmin==1.1.1
rjsmin==1.2.1
setuptools==70.0.0
sqlparse==0.5.0
watchdog==4.0.1
