
{% extends "layouts/_base_admin.html" %}
{% load static %}
{% block content %}
        <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
            <!-- Go Back Arrow -->
        <div class="flex items-center mb-4">
            <a href="{% url 'admin-case-management' %}" class="flex items-center text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-600">
                <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                </svg>
                Go Back
            </a>
        </div>

        <!-- Heading -->
        <h2 class="text-title-md2 font-bold text-black dark:text-white">
            Reports section
        </h2>

    <nav>
      <div >
        <a href="{% url 'admin-case-management' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Back to cases</a>
    </div>
    </nav>
  </div>

  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <!-- First Card -->
      <div class="p-6 flex flex-col min-w-0 break-words bg-white border-0 shadow-xl top-1/100 dark:bg-gray-800 dark:shadow-dark-xl rounded-2xl bg-clip-border">
        <h2 class="text-xl dark:text-white font-bold mb-4">Case Report Details</h2>
        <div class="border-b border-gray-200 pb-4 mb-4">
            <p class="text-gray-600 dark:text-white text-sm mb-2">Case Title</p>
            <p class="text-lg dark:text-white font-semibold">{{case.case_title}}</p>
        </div>
        <div class="border-b border-gray-200 pb-4 mb-4">
            <p class="text-gray-600 dark:text-white text-sm mb-2">Student ID</p>
            <p class="text-lg dark:text-white font-semibold">{{case.student_id.student_id}}</p>
        </div>
        <div class="border-b border-gray-200 pb-4 mb-4">
            <p class="text-gray-600 dark:text-white text-sm mb-2">Case Decision</p>
            <p class="text-lg font-semibold">
                {% if case.decision == 'suspended' %}
                    <span class="text-red-600 dark:text-red-400">{{ case.decision }}</span>
                {% elif case.decision == 'probation' %}
                    <span class="text-yellow-600 dark:text-yellow-400">{{ case.decision }}</span>
                {% elif case.decision == 'forgiven' %}
                    <span class="text-green-600 dark:text-green-400">{{ case.decision }}</span>
                {% else %}
                    <span class="text-gray-600 dark:text-gray-400">{{ case.decision }}</span>
                {% endif %}
            </p>
        </div>
        
        <div class="border-b border-gray-200 pb-4 mb-4">
            <p class="text-gray-600 dark:text-white text-sm mb-2">Closed Date</p>
            <p class="text-lg dark:text-white font-semibold">{{case.date_resolved}}</p>
        </div>
        <div class="border-b border-gray-200 pb-4 mb-4">
          <p class="text-gray-600 dark:text-white text-sm mb-2">Office Handling Case</p>
          <p class="text-lg dark:text-white font-semibold">{{case.office}}</p>
      </div>
    </div>
      <!-- Second Card -->
      <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 flex flex-col items-center justify-center">
      <div class="text-center mb-4">
        <h3 class="text-3xl font-medium text-gray-800 dark:text-gray-200 capitalize">
            {% if case.status == 'open' %}
                The case is currently open.
            {% elif case.status == 'in_progress' %}
                The case is in progress.
            {% elif case.status == 'closed' %}
                The case has been closed.
            {% else %}
                The case status is unknown.
            {% endif %}
        </h3>
    </div>
      <div class="relative flex items-center justify-center h-64 w-64"> 
        <!-- Increased size -->
        <svg class="absolute top-0 left-0 h-full w-full transform -rotate-90" viewBox="0 0 36 36">
            <circle
                class="text-gray-300"
                stroke-width="4"
                fill="none"
                cx="18"
                cy="18"
                r="15.9155"
                stroke="currentColor"
            />
            <circle
                class="text-blue-600"
                stroke-width="4"
                stroke-linecap="round"
                fill="none"
                cx="18"
                cy="18"
                r="15.9155"
                stroke="currentColor"
                style="stroke-dasharray: {% if case.status == 'open' %}15, 100{% elif case.status == 'in_progress' %}75, 100{% elif case.status == 'closed' %}100, 100{% else %}0, 100{% endif %};"
            />
        </svg>
        <span class="text-2xl font-semibold text-blue-600">
            {% if case.status == 'open' %}
                15%
            {% elif case.status == 'in_progress' %}
                75%
            {% elif case.status == 'closed' %}
                100%
            {% else %}
                0%
            {% endif %}
        </span>
    </div>
    
       </div>
    </div>
    </div>
    <div class="flex justify-end mt-4" >
        <div class="max-w-2xl w-full bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
            <div class="p-6">
              <div class="flex justify-between items-center mb-6">
                <div>
                  <h2 class="text-2xl font-bold text-gray-800 dark:text-white">Suspension Letter</h2>
                  <p class="text-sm text-gray-600 dark:text-gray-300">Date: {{case.date_resolved}}</p>
                </div>
                <img src="{% static 'images/logo.png' %}" alt="School Logo" class="h-12">
              </div>
              {% if case.decision == "suspended"%}
              <div class="border-t border-gray-200 dark:border-gray-700 pt-4">
                <div class="mb-6">
                  <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Student Details</h3>
                  <p class="text-gray-600 dark:text-gray-300">Name: {{student.first_name}}  {{student.last_name}}</p>
                  <p class="text-gray-600 dark:text-gray-300">Student ID:  {{student.student_id}}</p>
                  <p class="text-gray-600 dark:text-gray-300">Email: {{student.email}}</p>
                </div>
                <div class="mb-6">
                  <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Suspension Message</h3>
                  <p class="text-gray-600 dark:text-gray-300">
                    Dear  {{student.first_name}}  {{student.last_name}},
                  </p>
                  <p class="text-gray-600 dark:text-gray-300 mt-2">
                    We regret to inform you that due to recent incidents and violations of school policies, you have
                    been suspended from school for a period of two weeks, effective immediately. Please contact
                    the school administration for further details and to discuss the terms of your suspension.
                    During this period, it is expected that you refrain from attending any school-related activities,
                    including classes and extracurricular activities. It is important to adhere to the terms outlined in
                    this suspension letter to ensure a smooth resolution of this matter.
                    If there are any questions or concerns regarding this decision, please do not hesitate to contact
                    the school administration at your earliest convenience. 
                  </p>
                </div>
                <div class="mb-6">
                  <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Resignation Message</h3>
                  <p class="text-gray-600 dark:text-gray-300">
                    If you have any concerns or wish to discuss the suspension, you may reach out to the principal's office during working hours. We hope to resolve this matter amicably and look forward to your cooperation.
                  </p>
                </div>
              </div>
              <div class="flex justify-end">
                <a href="{% url 'generate_suspension_pdf' case.id %}" target="_blank">
                    <button class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900">
                        Export Suspension Letter
                    </button>
                </a>
            </div>
            
              {% else %}
              <div >
                <h5 class="text-red-600 dark:text-red-400 font-semibold">
                    SUSPENSION LETTER ONLY AVAILABLE WHEN THE CASE DECISION IS SET TO SUSPENDED
                </h5>
            </div>
              {% endif %}
            </div>
          </div>
    </div>
  </div>
  
  


{% endblock content %}